@{
    ViewData["Title"] = "Licenses";
}
@{
    Layout = "_LayoutMain";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Licences<h5>

                    <!-- Table with hoverable rows -->
                    <table class="table table-responsiveß table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nature Of Fee</th>

                                <th scope="col">Date Updated</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var license in ViewBag.License)
                            {
                                <tr>
                                    <th scope="row">1</th>
                                    <td>@license.LicenseName</td>

                                    <td>@license.DateUpdated</td>

                                    <td>
                                        <button type="button" onclick="conditionsModal('@license.Id','@System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(license.ConditionList)')" class="btn btn-primary">
                                            Edit conditions
                                        </button>
                                    </td>

                                    <td>
                                        <button type="button" onclick="instructionsModal('@license.Id','@System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(license.LicenseInstructions)')" class="btn btn-primary">
                                            Edit Instructions
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Basic Modal -->

<div class="modal fade" id="FeesModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Updating </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Settings/UpdateFee" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">City Fee</label>
                        <input type="hidden" name="Id" class="form-control" value="" id="Id">
                        <input type="text" name="CityFee" class="form-control" id="CityFee">
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Municipalty Fee</label>
                        <input type="text" name="MunicipaltyFee" class="form-control" id="MunicipaltyFee">
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Town Fee</label>
                        <input type="text" name="TownFee" class="form-control" id="TownFee">
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Rural District COuncil Fee</label>
                        <input type="text" name="RDCFee" class="form-control" id="RDCFee">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
@*editor for conditions list*@
<div class="modal fade" id="ConditionsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Conditions List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Settings/UpdateConditions" enctype="multipart/form-data" method="post">
                <div class="modal-body">

                    <input type="hidden" id="Idcond" name="id" />
                    <!-- End Quill Editor Default -->
                    <textarea name="conditions" ocnkeyup="convertToUppercase()" id="textacond" value="" class="tinymce-editor">
                       
                            
                        
                    </textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->

@*editor for instructions list*@
<div class="modal fade" id="instructionsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Conditions List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Settings/UpdateInstructions" enctype="multipart/form-data" method="post">
                <div class="modal-body">

                    <input type="hidden" id="Idinstr" name="id" />
                    <!-- End Quill Editor Default -->
                    <textarea name="instruction" id="textainstr" value="" class="tinymce-editor tinymce-editorb">
                       
                            
                        
                    </textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<script>function feeModal(Id, Name, CityFee, MunicipaltyFee, TownFee, RDCFee) {
        // alert(Id + Name + CityFee + Municipalty + TownFee + RDCFee);

        $('#Id').val(Id);
        $('#feetitle').html(Name);
        $('#CityFee').val(CityFee);
        $('#MunicipaltyFee').val(MunicipaltyFee);
        $('#TownFee').val(TownFee);
        $('#RDCFee').val(RDCFee);
        $('#FeesModal').modal('show');

    }</script>


<script>function conditionsModal(id, conditions) {

        tinymce.init({
            selector: '.tinymce-editor',
            height: 200,
            menubar: false,
            plugins: 'lists',
            toolbar: 'undo redo | bold italic | bullist numlist outdent indent',
        });
        tinymce.get('textacond').setContent(conditions);


        // alert(conditions);
        $('#Idcond').val(id);

        //$('#textacond').val(conditions);

        $('#ConditionsModal').modal('show');

    }</script>

<script>function convertToUppercase() {
        // Select the textarea by its ID and update its value
        $('#textacond').val($('#textacond').val().toUpperCase());
    }</script>



<script>function instructionsModal(id, instructions) {

        tinymce.init({
            selector: '.tinymce-editorb',
            height: 200,
            menubar: false,
            plugins: 'lists',
            toolbar: 'undo redo | bold italic | bullist numlist outdent indent',
        });
        tinymce.get('textainstr').setContent(instructions);


        // alert(instructions);
    $('#Idinstr').val(id);

        //$('#textacond').val(instructions);

        $('#instructionsModal').modal('show');

    }</script>