@{
    Layout = "_LayoutMain";


}



@if (ViewBag.ApplicationInfo == null)
{
    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">
                <h5 class="card-title">License Applicant Information</h5>

                <!-- Multi Columns Form -->
                <form action="/License/Apply" method="post" ß enctytpe="multipart/form-data" class="row g-3">
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Name</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.Name" readonly class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Surname</label>
                        <input type="text" value="@ViewBag.User.LastName" name="licenseName" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">DOB</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.DOB" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Gender</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.Gender" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Nationality</label>
                        <input type="text"readonly name="nationality" value="@ViewBag.User.Nationality" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">National ID/Passport</label>
                        <input type="text" readonly name="idPass" value="@ViewBag.User.NatID" class="form-control" id="inputName5">
                    </div>


                    @if (@ViewBag.User.Nationality != "Zimbabwe")
                    {
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Place of Entry</label>
                            <input type="text" name="placeOfEntry" value="" class="form-control" id="inputName5">
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Date of Entry</label>
                            <input type="date" name="dateofEntryIntoZimbabwe" value="" class="form-control" id="inputName5">
                        </div>
                    }
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Business Name</label>
                        <input type="text" name="businessName" value="" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Licence Type</label>
                        <select type="text" name="LicenseTypeID" value="" class="form-control" id="inputName5">
                            @foreach (var licensetype in ViewBag.License)
                            {
                                <option value="@licensetype.Id">@licensetype.LicenseName </option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Region of Operation</label>
                        <select type="text" name="ApplicationType" value="" class="form-control" id="inputName5">
                            @foreach (var region in ViewBag.Regions)
                            {
                                <option value="@region.Id">@region.RegionName </option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" name="OperationAddress" placeholder="Address" id="floatingTextarea" style="height: 100px;"></textarea>
                            <label for="floatingTextarea">Operational Address</label>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form><!-- End Multi Columns Form -->

            </div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">
                <div class="card-header">
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">License Applicant Information</h5>
                </div>
                <!-- Multi Columns Form -->
                <form action="/License/Apply" method="post" ß enctytpe="multipart/form-data" class="row g-3">
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Name</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.Name" readonly class="form-control" id="inputName5">
                        <input type="hidden" name="id" value="@ViewBag.ApplicationInfo.Id" readonly class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Surname</label>
                        <input type="text" value="@ViewBag.User.LastName" name="licenseName" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">DOB</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.DOB.Date" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Gender</label>
                        <input type="text" name="licenseName" value="@ViewBag.User.Gender" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Nationality</label>
                        <input type="text" name="nationality" value="@ViewBag.User.Nationality" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">National ID/Passport</label>
                        <input type="text" name="idPass" value="@ViewBag.User.NatID" class="form-control" id="inputName5">
                    </div>


                    @if (@ViewBag.User.Nationality != "Zimbabwe")
                    {
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Place of Entry</label>
                            <input type="text" name="placeOfEntry" value="@ViewBag.ApplicationInfo.PlaceOfEntry" class="form-control" id="inputName5">
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Date of Entry</label>
                            <input type="date" name="dateofEntryIntoZimbabwe" value="@ViewBag.ApplicationInfo.DateofEntryIntoZimbabwe" class="form-control" id="inputName5">
                        </div>
                    }

                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Business Name</label>
                        <input type="text" name="businessName" value="@ViewBag.ApplicationInfo.BusinessName" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Licence Type</label>
                        <select type="text" name="LicenseTypeID" value="@ViewBag.ApplicationInfo.LicenseTypeID" class="form-control" id="inputName5">
                            @foreach (var licensetype in ViewBag.License)
                            {
                                @if (@ViewBag.ApplicationInfo.LicenseTypeID == @licensetype.Id)
                                {
                                    <option selected value="@licensetype.Id">@licensetype.LicenseName </option>
                                }
                                else
                                {
                                    <option value="@licensetype.Id">@licensetype.LicenseName </option>

                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Region of Operation</label>
                        <select type="text" name="ApplicationType" value="@ViewBag.ApplicationInfo.ApplicationType" class="form-control" id="inputName5">
                            @foreach (var region in ViewBag.Regions)
                            {
                                @if (@ViewBag.ApplicationInfo.ApplicationType == region.Id)
                                {
                                    <option selected value="@region.Id">@region.RegionName </option>
                                }
                                else
                                {
                                    <option value="@region.Id">@region.RegionName </option>
                                }
                            }
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" name="OperationAddress" value="@ViewBag.ApplicationInfo.OperationAddress" placeholder="Address" id="floatingTextarea" style="height: 100px;">@ViewBag.ApplicationInfo.OperationAddress</textarea>
                            <label for="floatingTextarea">Operational Address</label>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

                </form><!-- End Multi Columns Form -->
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/License/OutletInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-primary">Next</a>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>


}