@{
    Layout = "_LayoutMain";



}


<div class="row">
    <div class="card">
       
        <div class="card-body" id="_step1">
            <div class="card-header">

                @if (ViewBag.Queries.Count > 0)
                {
                    <!-- Default Accordion -->
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <b>Click to View Queries</b>(resolve and resubmit where necessary)
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- List group With badges -->
                                    <ul class="list-group">
                                        @foreach (var queries in ViewBag.Queries)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @queries.Query
                                                <span class="badge bg-danger rounded-pill"> @queries.Status</span>
                                                <span class="badge bg-primary rounded-pill"><a class="text-white" href="/License/ResolveQuery?Id=@queries.Id&stage=apply&applicationId=@ViewBag.ApplicationInfo.Id">Click to Resolve Query</a></span>

                                            </li>
                                        }

                                    </ul><!-- End List With badges -->
                                </div>
                            </div>
                        </div>


                    </div><!-- End Default Accordion Example -->
                }
                <div class="text-center">
                    <h5 class="card-title text-success">@TempData["result"]</h5>
                </div>
                <h5 class="card-title">Attachments</h5>
                @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                *@
            </div>




            <div class="row">

                <table class="table table-responsiveß table-hover table-striped">
                    @foreach (var attachment in ViewBag.Attachments)
                    {
                        if (attachment.DocumentLocation == "")
                        {
                            <form method="post" class="form-control" enctype="multipart/form-data" action="/License/Attachments">
                            <tr>
                                <td>@attachment.DocumentTitle </td>

                                <td>
                                    <input required type="file" name="file" class="form-control" />
                                    <input type="hidden" name="id" value="@attachment.Id" />
                                    <input type="hidden" name="applicationId" value="@attachment.ApplicationId" />
                                </td>
                                <td><input type="submit" class="btn btn-primary" /> </td>


                            </tr>
                            </form>

                        }
                        else
                        {
                <tr>
                    <td>@attachment.DocumentTitle </td>
                    <td><a target="_blank" href="~/@attachment.DocumentLocation">View Here</a></td>
                    @*<td><a href="/License/RemoveAttachments?Id=@attachment.Id" class="btn btn-danger">Remove</a></td>*@
                    <td>
                        <a href="/License/RemoveAttachments?Id=@attachment.Id"
                           class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to remove this attachment?');">
                            Remove
                        </a>
                    </td>
                </tr>

                        }


                    }




                </table>
            </div>





            <div class="card-footer">
                <div class="text-center">


                    @if (ViewBag.Attachments == null)
                    {
                        <a href="/License/Attachments?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                    }
                    else
                    {
                        <a href="/License/ManagersInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                        <a href="/License/Finalising?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-success">Next</a>

                    }
                </div>
            </div>
        </div>
    </div>

</div>





<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input type="hidden" name="applicationId" class="form-control" value="@ViewBag.ApplicationInfo.Id" id="Id">
                            <input type="text" name="name" class="form-control" id="name">
                        </div>

                        @foreach (var attachment in ViewBag.Attachments)
                        {
                         
                                


                            
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
           
        </div>
    </div>
</div><!-- End Basic Modal-->
