@{
    Layout = "_LayoutMain";
}



<div class="row">
    <div class="card">
        <div class="card-body" id="_step1">
            <div class="text-center">
                <h5 class="card-title text-danger">@TempData["result"]</h5>
            </div>
            <h5 class="card-title">Finalising Application</h5>

            <table class="table table-responsive table-hover table-striped">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td>Applicant Information</td>
                        <td><span class="text-success">Correct</span></td>
                    </tr>
                    <tr>
                        <td>Outlet Information</td>
                        <td><span class="text-success">Correct</span></td>
                    </tr>
                    <tr>
                        <td>Manager's Information</td>
                        <td><span class="text-success">Correct</span></td>
                    </tr>
                    <tr>
                        <td>Documents Information</td>
                        <td><span class="text-success">Correct</span></td>
                    </tr>

                    <tr>
                        <td>Manager Fees</td>
                        <td>@ViewBag.FinalData.ManagersTotal</td>
                    </tr>

                    <tr>
                        <td>License Fees</td>
                        <td>@ViewBag.FinalData.LicencePrice</td>
                    </tr>
                    <tr>
                        <td>Final Fee</td>
                        <td>@ViewBag.FinalData.Total</td>
                    </tr>

                    <tr>
                        <td>Payment Status</td>
                        <td>
                            @if (ViewBag.Payment == null)
                            {

                                <span class="text-danger">Not paid</span>}
                            else
                            {<span class="text-success">@ViewBag.Payment.Status</span>}
                        </td>

                    </tr>

                    <tr>
                        <td>Pay Using </td>
                        <td>

                            @if (ViewBag.Payment!= null &&ViewBag.Payment.Status  == "Paid")
                                { }
                                else {
                                <a href="/License/PaynowPayment?Id=@ViewBag.ApplicationInfo.Id&amount=@ViewBag.ApplicationInfo.PaymentFee" class="btn btn-primary">Paynow</a>
                                }
                            </td>

                    </tr>
                </tbody>
        </table>


        <div class="card-footer">
            <div class="text-center">
                <a href="/License/Attachments?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                @if (ViewBag.Queries.Count > 0)
                    {
                    <a href="/License/ResolveApplication?applicationId=@ViewBag.ApplicationInfo.Id" class="btn btn-primary">Resolve & Resubmit</a>
                    }
                    else
                    {
                    <a href="/License/Submit?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-primary">Submit</a>
                    }
                </div>
        </div>
    </div>
</div>

</div>




<div class="modal fade" id="paynow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/Director" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    


                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->


<div class="modal fade" id="pop" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/Director" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
