@{
    Layout = "_LayoutMain";
}


    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">

                <div class="card-header">

                    @if (ViewBag.Queries.Count > 0)
                    {
                        <!-- Default Accordion -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>Click to View Queries</b>(resolve and resubmit where necessary)
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- List group With badges -->
                                        <ul class="list-group">
                                            @foreach (var queries in ViewBag.Queries)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @queries.Query
                                                    <span class="badge bg-danger rounded-pill"> @queries.Status</span>
                                                    <span class="badge bg-primary rounded-pill"><a class="text-white" href="/License/ResolveQuery?Id=@queries.Id&stage=apply&applicationId=@ViewBag.ApplicationInfo.Id">Click to Resolve Query</a></span>

                                                </li>
                                            }

                                        </ul><!-- End List With badges -->
                                    </div>
                                </div>
                            </div>


                        </div><!-- End Default Accordion Example -->
                    }
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">Manager's Particulars'</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Manager </button>

                </div>
             

                <table class="table table-responsiveß table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>National Id</th>
                            <th>National Id </th>
                            <th>Fingerpints </th>
                            <th>Form 55</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var manager in ViewBag.ManagersInfo)
                        {
                        <tr>
                            <td>@manager.Name</td>
                            <td>@manager.Surname</td>
                            <td>@manager.NationalId</td>
                            <td>
                                @if (manager.Attachment == "" || manager.Attachment == null)
                                {<a>No Attachment</a> }
                                else
                                {<a target="_blank" href="~/@manager.Attachment"> National Id </a>}
                        </td>
                        <td>
                            @if (manager.Fingerprints == "" || manager.Fingerprints == null)
                            {<a>No Attachment</a>}
                            else
                            {<a target="_blank" href="~/@manager.Fingerprints"> Fingerprints</a>}
                        </td>

                        <td>
                            @if (manager.Form55 == "" || manager.Form55 == null)
                            {<a>No Attachment</a>}
                            else
                            {<a target="_blank" href="~/@manager.Form55"> Form 55</a>}
                        </td>
                        </tr>
                        }
                    </tbody>
                </table>


                <div class="card-footer">
                    <div class="text-center">
                        @if (ViewBag.ManagersInfo == null)
                        {
                            <a href="/License/OutletInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                        }
                        else
                        {
                            <a href="/License/OutletInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                            <a href="/License/Attachments?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-success">Next</a>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>





<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Manager Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/ManagersInfo" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input type="hidden" name="applicationId" class="form-control" value="@ViewBag.ApplicationInfo.Id" id="Id">
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Surname</label>
                            <input type="text" name="surname" class="form-control" id="surname" required>
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id</label>
                            <input type="text" name="nationalId" class="form-control" id="TownFee" required>
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Address</label>
                            <textarea type="text" name="address" class="form-control" id="RDCFee" required></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id Copy</label>
                            <input type="file" name="file" class="form-control" id="file" required>
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Fingerprints Copy</label>
                            <input type="file" name="fileb" class="form-control" id="fileb" required>
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Form 55</label>
                            <input type="file" name="form55" class="form-control" id="fileb" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
