@{
    Layout = "_LayoutMain";


}


@if (ViewBag.OutletInfo == null)
{
    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">
                <h5 class="card-title">Outlet Information</h5>

                <!-- Multi Columns Form -->
                <form action="/License/OutletInfo" method="post" enctytpe="multipart/form-data" class="row g-3">


                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Trading Name</label>
                        <input type="text" required name="tradingName" value="" class="form-control" id="inputName5">
                        <input type="hidden" required name="ApplicationId" value="@ViewBag.Application.Id" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-12">
                        <div id="map" style="height: 400px; border-radius: 10px;"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Latitude</label>
                        <input type="text" id="latitude"  name="latitude" class="form-control" placeholder="Latitude">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Longitude</label>
                        <input type="text" id="longitude" name="longitude" class="form-control" placeholder="Longitude">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Licence Type</label>
                        <select type="text" required name="LicenseTypeID" value="" class="form-control" id="inputName5">
                            <option value=""> --Select License-- </option>

                            @foreach (var licensetype in ViewBag.License)
                            {
                                @if (licensetype.LicenseName == "Managers Fees") { }
                                else
                                {
                                    <option value="@licensetype.Id">@licensetype.LicenseName </option>

                                }
                            }
                        </select>
                    </div>


                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Location of Premises</label>
                        <input type="text" required readonly required name="ApplicationTypeName" value="" class="form-control" id="ApplicationTypeName">

                        <input type="hidden" name="ApplicationType" id="ApplicationType" />
                    </div>



                    <div class="col-12">
                        <div class="form-floating">
                            <textarea required class="form-control" name="Address" placeholder="Address" required id="floatingTextarea" style="height: 100px;"></textarea>
                            <label for="floatingTextarea">Physical Operations Address</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <select type="text" required id="provinceSelect" onchange="GetDistCounc()" name="province" value="" class="form-control">
                            <option value="">--Select Province-- </option>

                            @foreach (var provinces in ViewBag.Provinces)
                            {
                                <option value="@provinces.Name">@provinces.Name</option>
                            }
                        </select>

                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">District</label>
                        <select type="text" required name="city" value="" class="form-control" id="districtSelect"></select>
                    </div>


                    @*<div class="col-md-6">
                                            <label for="inputName5" class="form-label">Town Council</labe            l>
                                <select type="text" name="council" value="" class="form-control" id="co          uncilSelect"id="councilSelect" />
                        </div>*@
                    <div class="col-md-6">
                        <label for="councilSelect" class="form-label">Council</label>
                        <select id="councilSelect" required onchange="getRegion()" value="" name="council" class="form-control"></select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form><!-- End Multi Columns Form -->


                @if (ViewBag.DirectorsCount <= 0)
                {
                    if (@ViewBag.Application.ApplicantType == "Individual") { }
                    else
                    {

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                    }
                }
                else
                {


                    <table class="table table-responsiveß table-hover table-striped">
                        @foreach (var director in ViewBag.Directors)
                        {
                            <tr>
                                <th scope="row">@director.Name</th>
                                <th scope="row">@director.Surname</th>
                                <th scope="row">@director.Address</th>
                                <th scope="row">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-default">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete </button>

                                </th>

                            </tr>

                        }
                    </table>
                    if (@ViewBag.Application.ApplicantType == "Individual") { }
                    else
                    {
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>

                    }

                }
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/License/Apply?Id=@ViewBag.Application.Id" class="btn btn-warning">Prev</a>

                    </div>
                </div>
            </div>
        </div>

    </div>





}
else
{

    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">

                <div class="card-header">
                    @if (ViewBag.Queries.Count > 0)
                    {
                        <!-- Default Accordion -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>Click to View Queries</b>(resolve and resubmit where necessary)
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- List group With badges -->
                                        <ul class="list-group">
                                            @foreach (var queries in ViewBag.Queries)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    @queries.Query
                                                    <span class="badge bg-danger rounded-pill"> @queries.Status</span>
                                                    <span class="badge bg-primary rounded-pill"><a class="text-white" href="/License/ResolveQuery?Id=@queries.Id&stage=apply&applicationId=@ViewBag.Application.Id">Click to Resolve Query</a></span>

                                                </li>
                                            }

                                        </ul><!-- End List With badges -->
                                    </div>
                                </div>
                            </div>


                        </div><!-- End Default Accordion Example -->
                    }
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">Outlet Information</h5>
                </div>


                <!-- Multi Columns Form -->
                <form action="/License/OutletInfo" method="post" enctytpe="multipart/form-data" class="row g-3">


                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Trading Name</label>
                        <input type="text" required name="tradingName" value="@ViewBag.OutletInfo.TradingName" class="form-control" id="inputName5">
                        <input type="hidden" name="ApplicationId" value="@ViewBag.Application.Id" class="form-control" id="inputName5">
                        <input type="hidden" name="Id" value="@ViewBag.OutletInfo.Id" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-12">
                        <div id="map" style="height: 400px; border-radius: 10px;"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Latitude</label>
                        <input type="text" id="latitude" value="@ViewBag.OutletInfo.Latitude" name="latitude" class="form-control" placeholder="Latitude">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Longitude</label>
                        <input type="text" id="longitude" value="@ViewBag.OutletInfo.Longitude" name="longitude" class="form-control" placeholder="Longitude">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Licence Type</label>
                        <select type="text" required required name="LicenseTypeID" value="" class="form-control" id="inputName5">
                            @foreach (var licensetype in ViewBag.License)
                            {
                                @if (licensetype.LicenseName == "Managers Fees")
                                {

                                }
                                else
                                {
                                    @if (licensetype.Id == ViewBag.Application.LicenseTypeID)
                                    {
                                        <option selected value="@licensetype.Id">@licensetype.LicenseName </option>


                                    }
                                    else
                                    {
                                        <option value="@licensetype.Id">@licensetype.LicenseName </option>
                                    }
                                }
                            }
                        </select>
                    </div>


                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Location of Premises</label>
                        <input type="text" required name="ApplicationTypePlaceholder" value="@ViewBag.Region" class="form-control" id="ApplicationTypePlaceholder">
                        <input type="hidden" name="ApplicationType" value="@ViewBag.Application.ApplicationType" class="form-control" id="ApplicationTypeID">

                    </div>
                    @*<div class="col-md-6">
                            <label for="inputName5" class="form-label">Location of Premises</label>
                            <select type="text" name="ApplicationType" value="" class="form-control" id="inputName5">
                                @foreach (var region in ViewBag.Regions)
                                {
                                    if (@region.Id == ViewBag.Application.ApplicationType)
                                    {
                                        <option selected value="@region.Id">@region.RegionName </option>
                                    }
                                    else
                                    {
                                        <option value="@region.Id">@region.RegionName </option>
                                    }

                                }
                            </select>
                        </div>*@
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea required class="form-control" name="Address" placeholder="Address" id="floatingTextarea" style="height: 100px;">@ViewBag.OutletInfo.Address</textarea>
                            <label for="floatingTextarea">Physical Operations Address</label>
                        </div>
                    </div>

                    <!--div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <se type="text" name="province" value="@ViewBag.OutletInfo.Province" class="form-control" id="inputName5">
                    </!--div>

                    <divclass="col-md-6">
                        <label for="inputName5" class="form-label">City</label>
                        <input type="text" name="city" value="@ViewBag.OutletInfo.City" class="form-control" id="inputName5">
                    </div-->
                    @*<div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <input type="text" id="provinceSelect" name="province" value="@ViewBag.OutletInfo.Province" class="form-control">


                        </div>*@





                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <select type="text" required id="provinceSelect" name="province" onchange="GetDistCounc()" value="" class="form-control">
                            @foreach (var provinces in ViewBag.Provinces)
                            {
                                if (provinces.Name == @ViewBag.OutletInfo.Province)
                                {
                                    <option selected value="@provinces.Name">@provinces.Name</option>
                                }
                                else
                                {
                                    <option value="@provinces.Name">@provinces.Name</option>

                                }
                            }
                        </select>

                    </div>


                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">District</label>
                        <div id="citychange">
                            <input type="text" required name="city" value="@ViewBag.OutletInfo.City" class="form-control" />
                            @*<input type="text" name="city" value="@ViewBag.OutletInfo.City" onclick="changeForm()" class="form-control" />*@
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Council</label>
                        <input type="text" required name="council" value="@ViewBag.OutletInfo.Council" class="form-control" />
                    </div>




                    <!--<div class="col-md-6">
                        <label for="inputName5" class="form-label">District</label>
                        <select type="text" name="city" value="" class="form-control" id="districtSelect">
                        </select>

                    </div>-->
                    @*<div class="col-md-6">
                                            <label for="inputName5" class="form-label">Town Council</label>
                                <select type="text" name="council" value="" class="form-control" id="co          uncilSelect"id="councilSelect" />
                        </div>*@
                    <!--<div class="col-md-6">
                        <label for="councilSelect" class="form-label">Town Council</label>
                        <select id="councilSelect" name="council" class="form-control"></select>
                    </div>-->



                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

                </form><!-- End Multi Columns Form -->


                @if (ViewBag.DirectorsCount <= 0)
                {
                    if (@ViewBag.Application.ApplicantType == "Individual") { }
                    else
                    {

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                    }
                }
                else
                {


                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Address</th>
                                <th>National Id</th>
                                <th>finger Prints</th>
                                <th>Form 55</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var director in ViewBag.Directors)
                            {
                                <tr>
                                    <th scope="row">@director.Name</th>
                                    <th scope="row">@director.Surname</th>
                                    <th scope="row">@director.Address</th>
                                    <th scope="row">
                                        @if (director.NatId == "" || director.NatId == null)
                                        {<a>No Attachment</a>}
                                        else
                                        {<a target="_blank" href="~/@director.NatId"> National Id</a>}
                                    </th>
                                    <th scope="row">
                                        @if (director.FingerPrints == "" || director.FingerPrints == null)
                                        {<a>No Attachment</a>}
                                        else
                                        {<a target="_blank" href="~/@director.FingerPrints"> Fingerprints</a>
                                        }
                                    </th>
                                    <th scope="row">
                                        @if (director.Form55 == "" || director.Form55 == null)
                                        {
                                            <a>No Attachment</a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="~/@director.Form55"> Form 55</a>
                                        }
                                    </th>

                                    <th scope="row">
                                        <button type="button" class="btn btn-primary">View</button>
                                        <button type="button" class="btn btn-default">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete </button>

                                    </th>

                                </tr>

                            }
                        </tbody>
                    </table>
                    if (@ViewBag.Application.ApplicantType == "Individual") { }
                    else
                    {
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                    }
                }
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/License/Apply?Id=@ViewBag.Application.Id" class="btn btn-warning">Prev</a>
                        <a href="/License/ManagersInfo?Id=@ViewBag.Application.Id" class="btn btn-primary">Next</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
}


<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/Director" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input type="hidden" name="applicationId" class="form-control" value="@ViewBag.Application.Id" id="Id">
                            <input type="text" required name="name" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Surname</label>
                            <input type="text" required name="surname" class="form-control" id="surname">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id</label>
                            <input type="text" required name="nationalId" class="form-control" id="TownFee">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Address</label>
                            <textarea type="text" required name="address" class="form-control" id="RDCFee"></textarea>
                        </div>

                        
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id Copy</label>
                            <input type="file"  required name="natid" class="form-control" id="TownFee">
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Fingerprints</label>
                            <input type="file" required name="fingerprints" class="form-control" id="TownFee">
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Form 55</label>
                            <input type="file" required name="form" class="form-control" id="TownFee">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->







<script>function changeForm() {
        var html = '<select type="text" name="city" value="" class="form-control" id="districtSelect"></select>';
        $('#citychange').html(html);
    }</script>


<script>function GetDistCounc() {
        //provinceSelect

        var data = $("#provinceSelect").val();
        //alert(data);



        $.ajax({
            type: 'GET',
            url: '/License/GetDistCounc',
            contentType: "application/json; charset=utf-8",

            datatype: 'text',
            data: { Province: data },
            success: function (data) {
                console.log(data);
                //council

                councilSelect
                //city
                $("#councilSelect").empty();
                $("#councilSelect").append('<option value="">Select Site</option>');

                // Append new options from response
                $.each(data.councils, function (index, council) {
                    $("#councilSelect").append('<option value="' + council.name + '">' + council.name + '</option>');
                });


                $("#districtSelect").empty();
                $("#districtSelect").append('<option value="">Select Site</option>');

                // Append new options from response
                $.each(data.districts, function (index, district) {
                    $("#districtSelect").append('<option value="' + district.name + '">' + district.name + '</option>');
                });

            },
            error: function (data) {

            }

        });


    }</script>





<script>function myFunction() {

        //$("#idbad").empty();
        var x = document.getElementById("natid");
        x.value = x.value.toUpperCase();

        var data = $("#natid").val();
        //console.log(data);
        // $("#idgood").empty();

        // alert(data);
        // e.preventDefaut();


        $.ajax({
            type: 'GET',
            url: '/Auth/CheckId',
            contentType: "application/json; charset=utf-8",

            datatype: 'text',
            data: { natid: data },
            success: function (data) {
                if (data.success === "ok") {
                    // alert();
                    $('#idbad').html('');
                    $('#idgood').html(data.msg);
                    document.getElementById("myBtnciti").disabled = false;
                } else {
                    // DoSomethingElse()
                    // alert(response.responseText);
                    $('#idgood').html('');
                    $('#idbad').html(data.msg);
                    document.getElementById("myBtnciti").disabled = true;
                }
            },
            error: function (data) {
                $('#idgood').html('');
                $('#idbad').html(data.msg); //
                document.getElementById("myBtnciti").disabled = true;
            }

        });




    }</script>




<script>function getRegion() {

        var zveregion = $("#councilSelect").val();
        //alert(zveregion);



        $.ajax({
            type: 'GET',
            url: '/License/GetCouncData',
            contentType: "application/json; charset=utf-8",

            datatype: 'text',
            data: { council: zveregion },
            success: function (data) {
                console.log(data);
                //council
                // alert(data.councildata.councilRegion);
                $("#ApplicationTypeName").val(data.councildata.councilRegion);
                $("#ApplicationType").val(data.councildata.councilRegionId);


            },
            error: function (data) {

            }

        });

    }</script>


<!-- Google Maps JavaScript -->
<script>var map;
    var marker;
    var geocoder;

    function initMap() {
        var defaultLocation = { lat: -17.8292, lng: 31.0522 }; // Harare, Zimbabwe

        // Initialize Google Map
        map = new google.maps.Map(document.getElementById("map"), {
            center: defaultLocation,
            zoom: 12
        });

        geocoder = new google.maps.Geocoder(); // Initialize Geocoder

        // Add Click Event to Capture Coordinates
        map.addListener("click", function (event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();

            // Set values in input fields
            document.getElementById("latitude").value = lat;
            document.getElementById("longitude").value = lng;

            // Remove previous marker (if any)
            if (marker) {
                marker.setMap(null);
            }

            // Place new marker on the selected location
            marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });

            // Reverse Geocode to get address
            getAddress(lat, lng);
        });

        // Load saved locations from database
        loadSavedLocations();
    }

    // Function to get Address using Reverse Geocoding
    function getAddress(lat, lng) {
        var latlng = { lat: parseFloat(lat), lng: parseFloat(lng) };

        geocoder.geocode({ location: latlng }, function (results, status) {
            if (status === "OK") {
                if (results[0]) {
                    document.getElementById("locationName").value = results[0].formatted_address;
                } else {
                    document.getElementById("locationName").value = "Unknown Location";
                }
            } else {
                document.getElementById("locationName").value = "Unknown Location";
                console.error("Geocoder failed due to: " + status);
            }
        });
    }

    // Save Coordinates to Database
    function saveCoordinates() {
        var locationName = document.getElementById("locationName").value;
        var lat = document.getElementById("latitude").value;
        var lng = document.getElementById("longitude").value;

        if (!lat || !lng) {
            alert("Please select a location on the map.");
            return;
        }

        fetch("/Location/SaveCoordinates", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                LocationName: locationName,
                Latitude: parseFloat(lat),
                Longitude: parseFloat(lng)
            })
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                loadSavedLocations(); // Reload saved locations

                // Clear the input fields after saving
                document.getElementById("locationName").value = "";
                document.getElementById("latitude").value = "";
                document.getElementById("longitude").value = "";
            })
            .catch(error => console.error("Error:", error));
    }

    // Load Saved Locations
    function loadSavedLocations() {
        fetch("/Location/GetSavedCoordinates")
            .then(response => response.json())
            .then(locations => {
                locations.forEach(location => {
                    new google.maps.Marker({
                        position: { lat: location.latitude, lng: location.longitude },
                        map: map
                    });
                });
            })
            .catch(error => console.error("Error loading saved locations:", error));
    }

    // Make initMap globally accessible
    window.initMap = initMap;</script>

<!-- Load Google Maps API (remove geocode from libraries) -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeS52LU1myA-bb_AzRqn0lazpMTxbPK4c&callback=initMap&libraries=places">
</script>