@{
    Layout = "_LayoutMain";



}


    <div class="row">
        <div class="card">


            <div class="card-header">
                <div class="text-center">
                    <h5 class="card-title text-success">@TempData["result"]</h5>
                </div>
                <h5 class="card-title">Examining Renewal Application</h5>

            </div>
            @*getreninfo.ApplicationId = renapps.ApplicationId;
            getreninfo.Id = renapps.Id;
            getreninfo.LLBNumber = renapps.LLBNumber;
            getreninfo.PreviousExpiry = renapps.PreviousExpiry;
            getreninfo.TradingName = reaoutletinfo.TradingName;
            getreninfo.Licensetype = licensetype.LicenseName;
            getreninfo.PenaltyPaid = renapps.PenaltyPaid;
            getreninfo.FeePaid = renapps.FeePaid;
            getreninfo.LicenseRegion = licenseReg.RegionName;
            getreninfo.Licensetype = licensetype.LicenseName;
            getreninfo.Status = renapps.Status;
            getreninfo.HealthCert = renapps.HealthCert;
            getreninfo.CertifiedLicense = renapps.CertifiedLicense;*@

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody class="table-light">

                            <tr>
                                <th>Outlet Name</th>
                                <td>
                                    @ViewBag.Renewals.OutletName
                                </td>
                            </tr>
                            <tr>
                                <th>LLB Number</th>
                                <td>
                                    @ViewBag.Renewals.LLBNumber
                                </td>
                            </tr>
                            <tr>
                                <th>License ExpiryDate</th>
                                <td>
                                    @ViewBag.Renewals.PreviousExpiry
                                </td>
                            </tr>
                            <tr>
                                <th>Fee</th>
                                <td>
                                    @ViewBag.Renewals.FeePaid
                                </td>
                            </tr>

                            <tr>
                                <th>Penalty</th>
                                <td>@ViewBag.Renewals.PenaltyPaid</td>
                            </tr>

                            <tr>
                                <th>License Type</th>
                                <td>@ViewBag.Renewals.Licensetype</td>
                            </tr>
                            <tr>
                                <th>For</th>
                                <td>@ViewBag.Renewals.LicenseRegion</td>
                            </tr>
                            <tr>
                                <th>Health Certificate</th>
                                <td>
                                    <a target="_blank" href="~/@ViewBag.Renewals.HealthCert">Health Certificate</a>
                                  
                                </td>
                            </tr>
                            <tr>
                                <th>Previouc License Certified</th>
                                <td>
                                    <a target="_blank" href="~/@ViewBag.Renewals.CertifiedLicense">Previouc License Certified</a>

                                </td>
                            </tr>
                            <tr>
                                <th> Status</th>
                                <td>
                                    @ViewBag.Renewals.Status
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <a href="" class="btn btn-danger"> Reject Renewal</a>
                                    <a href="" class="btn btn-warning"> Raise Query</a>
                                    <a href="/Verify/ApproveRenewal?Id=@ViewBag.Renewals.ApplicationId&taskId=@ViewBag.TaskId" class="btn btn-success" onclick="return confirm('Are you sure you want to approve this renewal?');">
                                        Approve Renewal
                                    </a>

                                </td>
                            </tr>


                        </tbody>
                    </table>




                </div>

            </div>
        </div>

    </div>




