@{
    Layout = "_LayoutMain";


}


@if (ViewBag.OutletInfo == null)
{
    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">
                <h5 class="card-title">Outlet Information</h5>

                <!-- Multi Columns Form -->
                <form action="/Approval/OutletInfo" method="post" enctytpe="multipart/form-data" class="row g-3">


                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Trading Name</label>
                        <input readonly type="text" name="tradingName" value="" class="form-control" id="inputName5">
                        <input readonly type="hidden" name="ApplicationId" value="@ViewBag.Application.Id" class="form-control" id="inputName5">
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" name="Address" placeholder="Address" id="floatingTextarea" style="height: 100px;"></textarea>
                            <label for="floatingTextarea">Oulet Address</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <input readonly type="text" name="province" value="" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">City</label>
                        <input readonly type="text" name="city" value="" class="form-control" id="inputName5">
                    </div>





                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form><!-- End Multi Columns Form -->

                <div class="row">
                    @if (ViewBag.DirectorsCount <= 0)
                    {


                        @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>*@
                    }
                    else
                    {

                        <table class="table table-responsive table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Address</th>
                                    <th>National Id</th>
                                    <th>finger Prints</th>
                                    <th>Form 55</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var director in ViewBag.Directors)
                                {
                                    <tr>
                                        <th scope="row">@director.Name</th>
                                        <th scope="row">@director.Surname</th>
                                        <th scope="row">@director.Address</th>
                                        <th scope="row">
                                            @if (director.NatId == "" || director.NatId == null)
                                            {<a>No Attachment</a>}
                                            else
                                            {<a target="_blank" href="~/@director.NatId"> National Id</a>}
                                        </th>
                                        <th scope="row">
                                            @if (director.FingerPrints == "" || director.FingerPrints == null)
                                            {<a>No Attachment</a>}
                                            else
                                            {<a target="_blank" href="~/@director.FingerPrints"> Fingerprints</a>
                                            }
                                        </th>
                                        <th scope="row">
                                            @if (director.Form55 == "" || director.Form55 == null)
                                            {
                                                <a>No Attachment</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="~/@director.Form55"> Form 55</a>
                                            }
                                        </th>



                                    </tr>

                                }
                            </tbody>
                        </table>

                    }
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/Recommend/Apply?Id=@ViewBag.Application.Id" class="btn btn-warning">Prev</a>

                    </div>
                </div>
            </div>
        </div>

    </div>



}
else
{

    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">

                <div class="card-header">
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">Outlet Information</h5>
                </div>


                <!-- Multi Columns Form -->
                <form action="/License/OutletInfo" method="post" enctytpe="multipart/form-data" class="row g-3">


                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Trading Name</label>
                        <input readonly type="text" name="tradingName" value="@ViewBag.OutletInfo.TradingName" class="form-control" id="inputName5">
                        <input readonly type="hidden" name="ApplicationId" value="@ViewBag.Application.Id" class="form-control" id="inputName5">
                        <input readonly type="hidden" name="Id" value="@ViewBag.OutletInfo.Id" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-12">
                        <div id="map" style="height: 400px; border-radius: 10px;"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Latitude</label>
                        <input readonly type="text" id="latitude" value="@ViewBag.OutletInfo.Latitude" name="latitude" class="form-control" placeholder="Latitude">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Longitude</label>
                        <input readonly type="text" id="longitude" value="@ViewBag.OutletInfo.Longitude" name="longitude" class="form-control" placeholder="Longitude">
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" name="Address" placeholder="Address" id="floatingTextarea" style="height: 100px;">@ViewBag.OutletInfo.Address</textarea>
                            <label for="floatingTextarea">Oulet Address</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Province</label>
                        <input readonly type="text" name="province" value="@ViewBag.OutletInfo.Province" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">City</label>
                        <input readonly type="text" name="city" value="@ViewBag.OutletInfo.City" class="form-control" id="inputName5">
                    </div>


                    <div class="col-md-6">
                        <label for="inputName5" class="form-label">Council</label>
                        <input readonly type="text" name="city" value="@ViewBag.OutletInfo.Council" class="form-control" id="inputName5">
                    </div>



                </form><!-- End Multi Columns Form -->
                <br />
                <div class="row g-3">
                    @if (ViewBag.DirectorsCount <= 0)
                    {


                        @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>*@
                    }
                    else
                    {

                        <table class="table table-responsive table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Address</th>
                                    <th>National Id</th>
                                    <th>finger Prints</th>
                                    <th>Form 55</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var director in ViewBag.Directors)
                                {
                                    <tr>
                                        <th scope="row">@director.Name</th>
                                        <th scope="row">@director.Surname</th>
                                        <th scope="row">@director.Address</th>
                                        <th scope="row">
                                            @if (director.NatId == "" || director.NatId == null)
                                            {<a>No Attachment</a>}
                                            else
                                            {<a target="_blank" href="~/@director.NatId"> National Id</a>}
                                        </th>
                                        <th scope="row">
                                            @if (director.FingerPrints == "" || director.FingerPrints == null)
                                            {<a>No Attachment</a>}
                                            else
                                            {<a target="_blank" href="~/@director.FingerPrints"> Fingerprints</a>
                                            }
                                        </th>
                                        <th scope="row">
                                            @if (director.Form55 == "" || director.Form55 == null)
                                            {
                                                <a>No Attachment</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="~/@director.Form55"> Form 55</a>
                                            }
                                        </th>

                                        <th scope="row">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete </button>

                                        </th>

                                    </tr>

                                }
                            </tbody>
                        </table>

                    }
                </div>

            </div>
            <div class="card-body" id="_step1">
                <div class="card-header">
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">Verify Outlet Information</h5>
                </div>


                <form action="/Approval/Query" method="post" enctytpe="multipart/form-data" class="row g-3">
                    <div class="row">
                        <input type="hidden" name="applicationId" value="@ViewBag.Application.Id" />
                        <input type="hidden" name="stage" value="Approve Outlet" />

                        <textarea class="form-control" name="query"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a href="/Approval/Apply?Id=@ViewBag.Application.Id" class="btn btn-warning">Prev</a>
                <a href="/Approval/ManagersInfo?Id=@ViewBag.Application.Id" class="btn btn-primary">Next</a>

            </div>
        </div>



    </div>
}


<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/Director" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input readonly type="hidden" name="applicationId" class="form-control" value="@ViewBag.Application.Id" id="Id">
                            <input readonly type="text" name="name" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Surname</label>
                            <input readonly type="text" name="surname" class="form-control" id="surname">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id</label>
                            <input readonly type="text" name="nationalId" class="form-control" id="TownFee">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Address</label>
                            <textarea type="text" name="address" class="form-control" id="RDCFee"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->



<script>
        function initMap() {
            // Get location data from Razor ViewBag
            var locationName = "@(ViewBag.OutletInfo?.TradingName ?? "Unknown Location")";
            var latitude = @Html.Raw(ViewBag.OutletInfo?.Latitude ?? "0");
            var longitude = @Html.Raw(ViewBag.OutletInfo?.Longitude ?? "0");

            // Ensure valid latitude and longitude
            if (latitude == 0 || longitude == 0) {
                console.error("Invalid coordinates. Check ViewBag values.");
                alert("Invalid location data. Please check your inputs.");
                return;
            }

            // Map options
            var mapOptions = {
                center: { lat: parseFloat(latitude), lng: parseFloat(longitude) },
                zoom: 13
            };

            // Create a new map
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            // Create a marker
            var marker = new google.maps.Marker({
                position: { lat: parseFloat(latitude), lng: parseFloat(longitude) },
                map: map,
                title: locationName
            });

            // Add info window (popup)
            var infoWindow = new google.maps.InfoWindow({
                content: "<b>" + locationName + "</b><br>Latitude: " + latitude + "<br>Longitude: " + longitude
            });

            // Open popup when marker is clicked
            marker.addListener("click", function() {
                infoWindow.open(map, marker);
            });
        }
</script>

<!-- Google Maps API (Make sure to replace the API key with your actual key) -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkhvac8epAiBxzy6c1XnXepLGXYklRa68&callback=initMap">
</script>