@{
    Layout = "_LayoutMain";



}


<div class="row">
    <div class="card">
       
        <div class="card-body" id="_step1">
            <div class="card-header">
                <div class="text-center">
                    <h5 class="card-title text-success">@TempData["result"]</h5>
                </div>
                <h5 class="card-title">Manager's Particulars'</h5>
                @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                *@
            </div>




            <div class="row">

                <table class="table table-responsiveß table-hover table-striped">
                    @foreach (var attachment in ViewBag.Attachments)
                    {
                        if (attachment.DocumentLocation == "")
                        {
                            <form method="post" class="form-control" enctype="multipart/form-data" action="/License/Attachments">
                            <tr>
                                <td>@attachment.DocumentTitle </td>

                                <td>
                                    <input type="file" name="file" class="form-control" />
                                    <input type="hidden" name="id" value="@attachment.Id" />
                                    <input type="hidden" name="applicationId" value="@attachment.ApplicationId" />
                                </td>
                                <td><input type="submit" class="btn btn-primary" /> </td>


                            </tr>
                            </form>

                        }
                        else
                        {
                <tr>
                    <td>@attachment.DocumentTitle </td>
                    <td><a href="~/@attachment.DocumentLocation">View Here</a></td>
                    <td><a href="#" class="btn btn-danger">Remove</a></td>
                </tr>

                        }


                    }




                </table>
            </div>





            <div class="card-footer">
                <div class="text-center">
                    @if (ViewBag.Attachments == null)
                    {
                        <a href="/License/Attachments?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                    }
                    else
                    {
                        <a href="/License/ManagersInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                        <a href="/License/Finalising?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-success">Next</a>

                    }
                </div>
            </div>
        </div>
    </div>

</div>





<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input type="hidden" name="applicationId" class="form-control" value="@ViewBag.ApplicationInfo.Id" id="Id">
                            <input type="text" name="name" class="form-control" id="name">
                        </div>

                        @foreach (var attachment in ViewBag.Attachments)
                        {
                         
                                


                            
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
           
        </div>
    </div>
</div><!-- End Basic Modal-->
