

@{
    Layout = "_LayoutMain";
}






<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row w-100 align-items-center">
                <div class="col">
                    <h5 class="card-title mb-0">My Applications</h5>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">
                        Apply For License
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body" id="_step1">

            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">In Progress</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My Licences</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Post Formations</button>
                </li>
            </ul>

            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">

                        <table class="table table-responsiveß table-hover table-striped">


                            <thead>
                            <th>Reference</th>
                            
                            <th>Trading Name </th>
                            <th>Operating Address </th>
                            <th>Application Date </th>
                            <th>License </th>
                            <th>For </th>
                            <th>Status </th>
                            <th></th>
                            </thead>
                            <tbody class="table-responsive">
                                @foreach (var application in ViewBag.Applications)
                                {

                                    <tr>
                                        <td>@application.RefNum   </td>
                                        
                                        <td>
                                            @foreach (var outlet in ViewBag.OutletInfo)
                                            {
                                                if (outlet.ApplicationId == application.Id)
                                                {
                                                    @outlet.TradingName
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var outlet in ViewBag.OutletInfo)
                                            {
                                                if (outlet.ApplicationId == application.Id)
                                                {
                                                    @outlet.Address
                                                }
                                            }
                                        </td>

                                        <td>@application.ApplicationDate</td>

                                        <td>
                                            @foreach (var licence in ViewBag.License)
                                            {
                                                if (licence.Id == application.LicenseTypeID)
                                                {
                                                    @licence.LicenseName
                                                }
                                            }

                                        </td>


                                        <td>
                                            @foreach (var region in ViewBag.Regions)
                                            {
                                                if (region.Id == application.ApplicationType)
                                                {
                                                    @region.RegionName
                                                }
                                            }

                                        </td>

                                        <td>
                                            @if (application.Status == "inprogress")
                                            {
                                                <span class="text-warning">@application.Status</span>
                                            }  @if (application.Status == "payment verification")
                                            {
                                                <span class="text-success">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "submitted")
                                            {
                                                <span class="text-success">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "Has Query")
                                            {
                                                <span class="text-warning">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "approved" || application.Status == "verified")
                                            {
                                                <span class="text-success">@application.Status</span>
                                            }
                                        </td>

                                        <td>
                                            @if (application.Status == "inprogress")
                                            {
                                                <a href="/License/Apply?Id=@application.Id" class="btn btn-primary">Continue </a>
                                            }   @if (application.Status == "payment verification")
                                            {
                                                <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "submitted")
                                            {
                                                <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "Has Query")
                                            {<a href="~/License/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "approved")
                                            {
                                                <a href="/Documents/C?searchref=@application.Id" target="_blank" class="btn btn-primary">Download License</a>
                                            }
                                        </td>



                                    </tr>

                                }
                            </tbody>



                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="row">

                        <table class="table table-responsiveß table-hover table-striped">


                            <thead>
                            <th>Reference</th>
                            <th>LLB Number</th>
                            <th>Trading Name </th>
                            <th>Operating Address </th>
                            <th>Application Date </th>
                            <th>License </th>
                            <th>For </th>
                            <th>Status </th>
                            <th></th>
                            </thead>
                            <tbody class="table-responsive">
                                @foreach (var application in ViewBag.ApprovedApplications)
                                {

                                    <tr>
                                        <td>@application.RefNum   </td>
                                        <td>@application.LLBNum</td>
                                        <td>
                                            @foreach (var outlet in ViewBag.OutletInfo)
                                            {
                                                if (outlet.ApplicationId == application.Id)
                                                {
                                                    @outlet.TradingName
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var outlet in ViewBag.OutletInfo)
                                            {
                                                if (outlet.ApplicationId == application.Id)
                                                {
                                                    @outlet.Address
                                                }
                                            }
                                        </td>

                                        <td>@application.ApplicationDate</td>

                                        <td>
                                            @foreach (var licence in ViewBag.License)
                                            {
                                                if (licence.Id == application.LicenseTypeID)
                                                {
                                                    @licence.LicenseName
                                                }
                                            }

                                        </td>


                                        <td>
                                            @foreach (var region in ViewBag.Regions)
                                            {
                                                if (region.Id == application.ApplicationType)
                                                {
                                                    @region.RegionName
                                                }
                                            }

                                        </td>

                                        <td>
                                            @if (application.Status == "inprogress")
                                            {
                                                <span class="text-warning">@application.Status</span>
                                            }  @if (application.Status == "payment verification")
                                            {
                                                <span class="text-success">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "submitted")
                                            {
                                                <span class="text-success">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "Has Query")
                                            {
                                                <span class="text-warning">
                                                    @application.Status
                                                </span>
                                            }
                                            else if (application.Status == "approved")
                                            {
                                                <span class="text-success">@application.Status</span>
                                            }
                                        </td>

                                        <td>
                                            @if (application.Status == "inprogress")
                                            {
                                                <a href="/License/Apply?Id=@application.Id" class="btn btn-primary">Continue </a>
                                            }   @if (application.Status == "payment verification")
                                            {
                                                <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "submitted")
                                            {
                                                <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "Has Query")
                                            {<a href="~/License/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                            }
                                            @if (application.Status == "approved")
                                            {
                                                <a href="/Documents/C?searchref=@application.Id" target="_blank" class="btn btn-primary">Download License</a>
                                            }
                                        </td>



                                    </tr>

                                }
                            </tbody>



                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
                    Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
                </div>








            </div>
            </div>

</div>





