

@{
    Layout = "_LayoutMain";
}





<div class="card">
    <div class="card-body">
        @*<h5 class="card-title">Bordered Tabs</h5>*@
        <div class="card-header">
            <div class="row w-100 align-items-center">
                <div class="col">
                    <h5 class="card-title mb-0">My Applications</h5>
                </div>
                <div class="col-auto">
                    <a href="/License/Apply" class="btn btn-primary">
                        Apply For License
                    </a>
                </div>
            </div>
        </div>
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">In progress</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My Licenses</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"> Post Formations</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">

                    <table class="table table-responsive table-hover table-striped">


                        <tr>
                            <th>Reference</th>

                            <th>Trading Name </th>
                            <th>Operating Address </th>
                            <th>Application Date </th>
                            <th>License </th>
                            <th>For </th>
                            <th>Status </th>
                            <th></th>
                        </tr>
                        <tbody class="table-responsive">
                            @foreach (var application in ViewBag.Applications)
                            {

                                <tr>
                                    <td>@application.RefNum   </td>

                                    <td>
                                        @foreach (var outlet in ViewBag.OutletInfo)
                                        {
                                            if (outlet.ApplicationId == application.Id)
                                            {
                                                @outlet.TradingName
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var outlet in ViewBag.OutletInfo)
                                        {
                                            if (outlet.ApplicationId == application.Id)
                                            {
                                                @outlet.Address
                                            }
                                        }
                                    </td>

                                    <td>@application.ApplicationDate</td>

                                    <td>
                                        @foreach (var licence in ViewBag.License)
                                        {
                                            if (licence.Id == application.LicenseTypeID)
                                            {
                                                @licence.LicenseName
                                            }
                                        }

                                    </td>


                                    <td>
                                        @foreach (var region in ViewBag.Regions)
                                        {
                                            if (region.Id == application.ApplicationType)
                                            {
                                                @region.RegionName
                                            }
                                        }

                                    </td>

                                    <td>
                                        @if (application.Status == "inprogress")
                                        {
                                            <span class="text-warning">@application.Status</span>
                                        }  @if (application.Status == "payment verification")
                                        {
                                            <span class="text-success">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "submitted")
                                        {
                                            <span class="text-success">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "Has Query")
                                        {
                                            <span class="text-warning">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "approved" || application.Status == "verified")
                                        {
                                            <span class="text-success">@application.Status</span>
                                        }
                                        else if (application.Status == "rejected")
                                        {
                                            <span class="text-danger">@application.Status</span>

                                        }
                                    </td>

                                    <td>
                                        @if (application.Status == "inprogress")
                                        {
                                            <a href="/License/Apply?Id=@application.Id" class="btn btn-primary">Continue </a>
                                        }   @if (application.Status == "payment verification")
                                        {
                                            <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "submitted")
                                        {
                                            <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "Has Query")
                                        {<a href="~/License/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "approved")
                                        {
                                            @*<a href="/Documents/C?searchref=@application.Id" target="_blank" class="btn btn-primary">Download License</a>*@
                                            <a href="/Downloads/CheckDownload?LLBNUM=@application.LLBNum" target="_blank" class="btn btn-primary">Download License</a>
                                        }
                                        @if (application.Status == "rejected")
                                        {
                                            @*<a href="/Documents/C?searchref=@application.Id" target="_blank" class="btn btn-primary">Download License</a>*@

                                            <span class="text-danger">@application.Status</span>

                                        }
                                    </td>



                                </tr>

                            }
                        </tbody>



                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="row">

                    <table class="table table-responsiveß table-hover table-striped">


                        <thead>
                        <th>Reference</th>
                        <th>LLB Number</th>
                        <th>Trading Name </th>
                        <th>Operating Address </th>
                        <th>Application Date </th>
                        <th>License </th>
                        <th>For </th>
                        <th>Status </th>
                        <th></th>
                        </thead>
                        <tbody class="table-responsive">
                            @foreach (var application in ViewBag.ApprovedApplications)
                            {

                                <tr>
                                    <td>@application.RefNum   </td>
                                    <td>@application.LLBNum</td>
                                    <td>
                                        @foreach (var outlet in ViewBag.OutletInfo)
                                        {
                                            if (outlet.ApplicationId == application.Id)
                                            {
                                                @outlet.TradingName
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var outlet in ViewBag.OutletInfo)
                                        {
                                            if (outlet.ApplicationId == application.Id)
                                            {
                                                @outlet.Address
                                            }
                                        }
                                    </td>

                                    <td>@application.ApplicationDate</td>

                                    <td>
                                        @foreach (var licence in ViewBag.License)
                                        {
                                            if (licence.Id == application.LicenseTypeID)
                                            {
                                                @licence.LicenseName
                                            }
                                        }

                                    </td>


                                    <td>
                                        @foreach (var region in ViewBag.Regions)
                                        {
                                            if (region.Id == application.ApplicationType)
                                            {
                                                @region.RegionName
                                            }
                                        }

                                    </td>

                                    <td>
                                        @if (application.Status == "inprogress")
                                        {
                                            <span class="text-warning">@application.Status</span>
                                        }  @if (application.Status == "payment verification")
                                        {
                                            <span class="text-success">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "submitted")
                                        {
                                            <span class="text-success">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "Has Query")
                                        {
                                            <span class="text-warning">
                                                @application.Status
                                            </span>
                                        }
                                        else if (application.Status == "approved")
                                        {
                                            <span class="text-success">@application.Status</span>
                                        }
                                    </td>

                                    <td>
                                        @if (application.Status == "inprogress")
                                        {
                                            <a href="/License/Apply?Id=@application.Id" class="btn btn-primary">Continue </a>
                                        }   @if (application.Status == "payment verification")
                                        {
                                            <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "submitted")
                                        {
                                            <a href="~/Viewing/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "Has Query")
                                        {<a href="~/License/Apply?Id=@application.Id" class="btn btn-primary">View Application</a>
                                        }
                                        @if (application.Status == "approved")
                                        {
                                            @*<a href="/Documents/C?searchref=@application.Id" target="_blank" class="btn btn-primary">Download License</a>*@
                                            <a href="/Downloads/CheckDownload?LLBNUM=@application.LLBNum&DocumentType=License" target="_blank" class="btn btn-primary">Download License</a>

                                        }
                                    </td>

                                    <td>
                                        @*<a href="~/Home/PostFormation?Id=@application.Id" class="btn btn-primary">Post Formations</a>*@
                                        @foreach (var outlet in ViewBag.OutletInfo)
                                        {
                                            if (outlet.ApplicationId == application.Id)
                                            {

                                                <button type="button" class="btn btn-primary" onclick="PostFormationModal('@application.Id',' @outlet.TradingName')" class="btn btn-primary">
                                                    Post Formations
                                                </button>
                                            }
                                        }

                                    </td>

                                </tr>

                            }
                        </tbody>



                    </table>
                </div>


            </div>
            <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">


                <div class="row">
                    <div class="card">

                        <div class="card-body" id="_step1">
                            <div class="card-header">

                                <h5 class="card-title">Renewal Applications</h5>
                                @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                                *@
                            </div>




                            <div class="row">

                                <table class="table table-responsiveß table-hover table-striped">


                                    <thead>
                                        <tr>
                                            @*getreninfo.ApplicationId = renapps.ApplicationId;
                                    getreninfo.Id = renapps.Id;
                                    getreninfo.LLBNumber = renapps.LLBNumber;
                                    getreninfo.PreviousExpiry = renapps.PreviousExpiry;
                                    getreninfo.TradingName = reaoutletinfo.TradingName;
                                    getreninfo.Licensetype = licensetype.LicenseName;
                                    getreninfo.LicenseRegion = licenseReg.RegionName;*@

                                            <th>Trading Name </th>
                                            <th>LLB Number </th>
                                            <th>Expiry Date </th>
                                            <th>License </th>
                                            <th>For </th>
                                            <th>Status </th>
                                            <th>Action </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var renewal in ViewBag.RenewalTasks)
                                        {

                                            <tr>
                                                <td>@renewal.TradingName</td>
                                                <td>@renewal.LLBNumber</td>
                                                <td>@renewal.PreviousExpiry</td>
                                                <td>@renewal.Licensetype </td>
                                                <td>@renewal.LicenseRegion</td>
                                                <td>@renewal.Status</td>
                                                <td><a class="btn btn-primary" href="/Verify/Renewal?Id=@renewal.Id"> View Renewal</a></td>


                                            </tr>

                                        }
                                    </tbody>



                                </table>
                            </div>






                        </div>
                    </div>

                </div>




                <!-- INSPECTION -->
                <div class="row">
                    <div class="card">

                        <div class="card-body" id="_step1">
                            <div class="card-header">

                                <h5 class="card-title">Inspections</h5>
                                @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDirector">Add Director </button>
                                *@
                            </div>




                            <div class="row">

                                <table class="table table-responsiveß table-hover table-striped">


                                    <thead>
                                        <tr>
                                            @*renewalinspectiontask.TradingName = outletinfoq.TradingName;
                                            renewalinspectiontask.LLBNumber = appinfoq.LLBNum;
                                            renewalinspectiontask.ApplicationId = applId;
                                            renewalinspectiontask.DateApplied = inspecy.DateApplied;
                                            renewalinspectiontask.Id = inspecy.Id;
                                            renewalinspectiontask.Status = inspecy.Status;
                                            renewalinspectiontask.Service = inspecy.Service;
                                            renewalinspectiontask.LicenseType = licensetype.LicenseName;
                                            renewalinspectiontask.LicenseRegion = licenseregion.RegionName;
                                            renewalinspectiontask.TaskId = insptask.Id;*@

                                            <th>Trading Name </th>
                                            <th>LLB Number </th>
                                            <th>Inspection Date </th>
                                            <th>License </th>
                                            <th>For </th>
                                            <th>Service </th>
                                            <th>Status </th>
                                            <th>Action </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var inspection in ViewBag.Inspections)
                                        {

                                            <tr>
                                                <td>@inspection.TradingName</td>
                                                <td>@inspection.LLBNumber</td>
                                                <td>@inspection.InspectionDate</td>
                                                <td>@inspection.LicenseType </td>
                                                <td>@inspection.LicenseRegion</td>
                                                <td>@inspection.Service</td>
                                                <td>@inspection.Status</td>
                                                <td><a class="btn btn-primary" href="/Viewing/inspection?Id=@inspection.Id"> View inspection</a></td>


                                            </tr>

                                        }
                                    </tbody>



                                </table>
                            </div>






                        </div>
                    </div>

                </div>




            </div>

        </div><!-- End Bordered Tabs -->

    </div>
</div>


 

<!-- Basic Modal -->

<div class="modal fade" id="PostFormationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Post Fomation For </h5> &nbsp;<b><h5 class="modal-title" id="feetitle"></h5></b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Home/PostFormation" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Select Post Formation Process</label>
                        <input type="hidden" name="id" class="form-control" value="" id="ApplicationId">



                        @*<div class="col-md-12 d-flex align-items-center">
                                <input type="radio" name="selectProcess" class="form-check-input me-2" id="MunicipaltyFee">
                                <label for="MunicipaltyFee" class="form-label mb-0">Municipalty Fee</label>
                            </div>*@



                        <div class="row mb-3">


                            <div class="col-md-12">
                                <select class="form-select" size="8" colspan="10" name="process" multiple aria-label="multiple select example">
                                    <option value="RNW">Renewal</option>
                                    <option value="APM">Change/Approval of a person as a Manager</option>
                                    @*<option value="GDP">Government Department Permit 100.00</option>*@
                                    <option value="INP">Inspection </option>
                                    @*<option value="DPL">Duplication 60.00</option>*@
                                    <option value="TRM">Temporal removal </option>
                                    <option value="TTR">Temporal Transfer </option>
                                    <option value="EXH">Extended hours (Occasional) liquor licence</option>
                                    <option value="TRL">Temporal Retail liquor license</option>
                                    <option value="ECF">Extra Counter/Change Plan fee</option>
                                    @*<option value="ECF">Extra Counter fee 300.00</option>*@
                                    @*<option value="TRS">Transcripts a)150 b)130 c)130 d)150</option>*@
                                </select>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->





<script>function PostFormationModal(Id, Name) {
        // alert(Id + Name + CityFee + Municipalty + TownFee + RDCFee);

        $('#ApplicationId').val(Id);
        $('#feetitle').html(Name);

        $('#PostFormationModal').modal('show');

    }</script>
