@{
    Layout = "_LayoutMain";


}

<div class="row">
    <div class="card">
        <div class="card-body" id="_step1">
            <h5 class="card-title">License Applicant Information</h5>
            <div class="card-header">
                <form action="/Tasks/AssignTask" method="post" ß enctytpe="multipart/form-data" class="row g-3">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="inputName5" class="form-label">Task Id</label>
                            <input type="text" name="Id" value="@ViewBag.Task.Id" readonly class="col-md-3 form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="inputName5" class="form-label">Select Inspector</label>
                            <select type="text" name="InspectorId" value="" class="form-control" id="inputName5">
                                <option value="" >Select Inspector</option>
                                @foreach (var inspector in ViewBag.Inspectors)
                                {
                                    <option value="@inspector.Id">@inspector.Name </option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Assign" name="" class="btn btn-primary col-md-3 form-control" />

                            </div>
                        </div>
</form>
            </div>
            <!-- Multi Columns Form -->
   
                <div class="col-md-12">
                    <label for="inputName5" class="form-label">@ViewBag.ApplicationInfo.BusinessName</label>
                </div>
                <div class="col-md-12">
                    <label for="inputName5" class="form-label">@ViewBag.ApplicationInfo.OperationAddress</label>
                </div>
                <div class="col-md-12">
                    <label for="inputName5" class="form-label">@ViewBag.ApplicationInfo.Status</label>
                </div>
                <div class="col-md-6">
                    <label for="inputName5" class="form-label">@ViewBag.ApplicationInfo.ApplicationDate</label>
               </div>

                <div class="col-md-12">
                    <label for="inputName5" class="form-label">Business Name</label>
                    <input type="text" name="businessName" value="" class="form-control" id="inputName5">
                </div>

                
                

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            <!-- End Multi Columns Form -->

        </div>
    </div>

</div>
}