@{
    Layout = "_LayoutMain";



}


    <div class="row">
        <div class="card">
            <div class="card-body" id="_step1">

                <div class="card-header">
                    <div class="text-center">
                        <h5 class="card-title text-success">@TempData["result"]</h5>
                    </div>
                    <h5 class="card-title">Manager's Particulars'</h5>
                   
                </div>
             

                <table class="table table-responsiveß table-hover table-striped">
                    <thead>

                    </thead>
                    <tbody>
                        @foreach (var manager in ViewBag.ManagersInfo)
                        {
                        <tr>
                            <td>@manager.Name</td>
                            <td>@manager.Surname</td>
                            <td>@manager.NationalId</td>
                            <td><a target="_blank" href="~/@manager.Attachment"> National Id Copy</a></td>
                         
                        </tr>
                        }
                    </tbody>
                </table>


                <div class="card-footer">
                    <div class="text-center">
                        @if (ViewBag.ManagersInfo == null)
                        {
                            <a href="/License/OutletInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                        }
                        else
                        {
                            <a href="/Examination/OutletInfo?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-warning">Prev</a>
                            <a href="/Examination/Attachments?Id=@ViewBag.ApplicationInfo.Id" class="btn btn-success">Next</a>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>





<div class="modal fade" id="addDirector" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Director Details </h5> <h5 class="modal-title" id="feetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/License/ManagersInfo" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Name</label>
                            <input type="hidden" name="applicationId" class="form-control" value="@ViewBag.ApplicationInfo.Id" id="Id">
                            <input type="text" name="name" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Surname</label>
                            <input type="text" name="surname" class="form-control" id="surname">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id</label>
                            <input type="text" name="nationalId" class="form-control" id="TownFee">
                        </div>
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Address</label>
                            <textarea type="text" name="address" class="form-control" id="RDCFee"></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">National Id Copy</label>
                            <input type="file" name="file" class="form-control" id="file">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
